@model IEnumerable<MyPortfolio.Models.Board>

@{
    ViewData["Title"] = "Board";
}

@{
    // BoardController / Index 액션 메서드에서 넘어온 값
    var startPage = ViewBag.Start;
    var endPage = ViewBag.End;
    var page = ViewBag.Page;
    var totalPage = ViewBag.TotalPage;

    var num = ViewBag.TotalCount - ((page-1)*10);
}

<style>
    /* 마우스가 없을 때는 밑줄 없이 */
    a {
        color: black;
        text-decoration: none;
    }
        /* 마우스가 올라갔을 때만 밑줄 생기게 구현*/
        a:hover {
            text-decoration: underline;
        }
</style>

<section class="py-5">
    <div class="container px-5">
        <div class="row justify-content-between p-2">
            <div class="col-3">
                <a asp-controller="Board" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-file-earmark-plus-fill"></i>&nbsp;글작성               
                </a>
            </div>
            <div class="col-9 text-end">
                <form asp-action="Index" method="GET">
                    <input id="search" name="search" value="@ViewBag.search" class="form-control-sm" style="width=10px;"/>
                    <button type="submit" class="btn btn-success">검색</button>
                </form>

            </div>
        </div>
        <table class="table table-striped table-light" asp-controller="Board">
            <thead>
                <tr class="table-primary">
                    <th style="width:3rem;">
                        번호
                    </th>
                    <th style="width:8rem;">
                    @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th style="width:11rem;">
                    @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.Title)
                    </th>
@*                     <th>
                        @Html.DisplayNameFor(model => model.Contents)
                    </th> *@
                    <th style="width:8rem;">
                    @Html.DisplayNameFor(model => model.Hit)
                    </th>
                    <th style="width:8rem;">
                    @Html.DisplayNameFor(model => model.RegDate)
                    </th>
                    <th style="width:8rem;">
                    @Html.DisplayNameFor(model => model.ModDate)
                    </th>
                    @* <th></th> *@
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(num--)</td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        <a asp-controller="Board" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.Hit)
                    </td>
                    <td>
                    @*@Html.DisplayFor(modelItem => item.RegDate)*@
                    @Convert.ToDateTime(item.RegDate).ToString("yyyy-MM-dd")
                    </td>
                    <td>
                    @*@Html.DisplayFor(modelItem => item.ModDate)*@
                    @if(item.ModDate != null){
                        @Convert.ToDateTime(item.ModDate).ToString("yyyy-MM-dd")
                    }
                    </td>
@*                     <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Detials" asp-route-id="@item.Id">Detials</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td> *@
                </tr>
            }
            </tbody>
    </table>

        <!-- 페이징 컨트롤 -->
        <nav class="text-center">
            <ul class="pagination justify-content-center">
                @if (startPage > 1) // 첫 페이지 버튼
                {
                    <li class="page-item">
                        <a href="?page=1&search=@ViewBag.Search" class="page-link">≪</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link">≪</span>
                    </li>
                }
                @if (page > 1)      // 이전 페이지 버튼
                {
                    <li class="page-item">
                        <a href="?page=@(page-1)&search=@ViewBag.Search" class="page-link">＜</a>

                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link">＜</span>
                    </li>
                }
                @for (var i = startPage; i <= endPage; i++) // 페이지 번호 반복 출력
                {
                    if(i== page)
                    {
                        <li class="page-item">
                            <span class="page-link active">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a href="?page=@i&search=@ViewBag.Search" class="page-link">@i</a>
                        </li>
                    }
                }

                @if (page < totalPage)   // 다음페이지
                {
                    <li class="page-item">
                        <a href="?page=@(page+1)&search=@ViewBag.Search" class="page-link">＞</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link">＞</span>
                    </li>
                }
                @if (endPage < totalPage) // 마지막 페이지
                {
                    <li class="page-item">
                        <a href="?page=@totalPage&search=@ViewBag.Search" class="page-link">≫</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link">≫</span>
                    </li>
                }
            </ul>
        </nav>
    </div>
</section>